{% extends 'base.html' %} 
{% block title %} Recipes {% endblock %} 

{% block body %}

<div class="container rounded mt-5 border p-4 shadow-lg mx-auto w-75">

  <form method="post">
    {% csrf_token %}
    <h2>Login</h2>
    {% if messages %}
      
    <div class="alert alert-primary" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    
{% endif %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">UserName</label>
      <input
        type="text"
        required
        class="form-control"
        name="username"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" required name="password" class="form-control" id="exampleInputPassword1">
      </div>
    <div class="mb-3">
        <p>Don't have an account? <a href="/Register">Register</a></p>
      </div>
    
    <button type="submit" class="btn btn-primary w-100">Login</button>
  </form>
</div>



{% endblock %}
